---
const { variant = "primary", size = "medium" } = Astro.props;
---

<button data-variant={variant} data-size={size}>
  <slot />
</button>

<style>
  /* primære */
  [data-variant="primary"] {
    padding: 1em;
    background-color: rgb(18, 5, 36);
    color: rgb(247, 253, 255);
    border-color: #f9efc7;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
  }
  [data-variant="primary"]:hover {
    background-color: rgb(200, 0, 255);
    color: rgb(18, 5, 36);
  }

  /* sekundær */
  [data-variant="secondary"] {
    padding: 1em;
    background-color: #f9efc7;
    color: rgb(247, 253, 255);
    border-color: rgb(18, 5, 36);
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
  }
  [data-variant="secondary"]:hover {
    background-color: rgb(18, 5, 36);
    color: #f9efc7;
    border-color: #f9efc7;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
  }
</style>